*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{

}
.summary{
    margin: 0 auto;
    border: 2px solid blanchedalmond;
    width: 400px;
    aspect-ratio: 1/1;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 25px;
}
.games{
    display: flex;
    justify-content: center;
    align-items: center;
}
.option{
    width: 30%;
    margin: 10px 15px;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    background-color: bisque;
}
.option:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) ease-in-out;
    background-color: rgb(249, 197, 133);
}